.button {
    border-radius: 30px ;
    border: solid black 1px;
    column-gap: 10px;
    cursor: pointer;
    display: flex;
    font-size: 22px;
    padding: 25px 20px;
    height: 71px;
    width: 289px;
    transition: background-color 0.3s ease ;
    text-align: center;
    
}

/*PRIMARY*/

.button.primary {
    background-color: #291288;
    color: white;
    
}

.button.primary:hover {
    background-color: #1d0385;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

/* SECONDARY */
.button.secondary {
    background-color: #FEE455;
    color: black;
    width: 200px;
    height: 20px;
    align-items: center;
    margin-left: 40px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease ;
    
    
}

.button.secondary:hover {
    background-color: #f8d823;
}

/* DISABLE */ 
.button:disabled, .button:disabled>:hover {
    background-color: #ccc;
    color:#666;
    pointer-events: none;
}