.imgSection2{
    background-image: url(/servicesSection2.svg);
    width: 1500px;
    height: 1013px;
    background-size: cover;
    margin: 0;
}



.imgIconsLeft {
    position:absolute;
    top: 1400px; 
    left: 20px; 
    gap: 105px;
    align-items: flex-start;
    margin-top: 35px;
    margin-left: 150px;
    width: 500px;
   }

.imgIconsRight {
    position:absolute;
    left: 500px; 
    gap: 105px;
    align-items: flex-start;
    margin-bottom: 400px;
    margin-left: 150px;
    width: 500px;
    
}

@media (max-width: 450px) {
    .imgSection2{
     display: none;
    }
 }