
.hows{
    margin: 0 0 0 140px;
    margin-left: 10px;
    
}
.iluNumbs{
    line-height: 160px;
    margin-left: 15px;
    margin-top: 50px;
}

.description h1 {
    font-size: 25px;
    font-weight: bold;  
    margin-right: 120px;
    text-align: start;
    line-height: 80px;
    margin-top: 40px;
}
.description p {
    font-size: 20px;
    margin-top: -30px;
    
}

@media (max-width: 768px){
    .title-howWorks{
        width: 100%;
    }
    
}

@media (max-width: 568px){
    .description{
        width: 20px;
    }
}