header {
    padding: 10px 0;
}

header ul, li {
    list-style: none;
    margin-left: 20px;
    
}
header h1{
    color: white;
    width: 200px;
    text-align: center;
    white-space: nowrap;
    margin-left: 10px;
}

nav a {
    
    font-size: 20px;
    text-decoration: none;
    margin-right: 30px;
    color: rgb(251, 251, 251);
    
}
nav ul{
    margin-left: 300px;
   
}
nav a:hover{
    color: #291288;
}

.btheader {
    
    background-color: #e3c932;
    width: 220px;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: black;
    border-radius: 30px ;
    border: solid black 1px;
    text-align: center;
    font-weight: 600;
}

.btheader:hover {
    
    background-color: #dfe21d;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

