@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

header {
    font-family: 'Tajawal';
    background-color: #009440;
    height: 70px;
    width: 100%;
    
}
.title{
    margin-right: 100px;
    font-size: 25px;
    color: white;
}

.bhc{
    width: 70px;
    height: 70px;
    margin-top: 5px;
    
}

header ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 0 0 40px;
    font-size: 20px;
}

nav a:hover {
    color:#48339D;
}
.workus{
    background-color: #FEE455;
    color: black;
    width: 173px;
    height: 35px;
    border-radius: 30px;
    border: black solid 1px;
    margin-left: 55px;
    cursor: pointer;
}