.chartPie{
    margin-top: -15px;
    margin-left: 40px;
    border: 0.5px solid #333;
    border-radius: 10px;
    box-sizing: border-box;
    height: 350px;

    h3{
        margin-top: 20px;
        margin-bottom: 25px;
    }
}