
.footer-logo-col {
    max-width: 340px;
    width: 100%;
    margin-top: 25px;
    
    
}
.footer-col {
    width: 100%;
    margin: 0 0 0 140px;
    max-width: 260px;
    margin-top: 25px;
    margin-bottom: 50px;
    
} 

.footer-col ul {
    margin: 0;
    padding: 0;
    
    
} 

.footer-col li {
    margin: 0 0 25px 0;
    
} 

footer h3, .footer-logo {
    font-size: 25px;
    margin: 0 0 25px 0;
    
    
}   

footer a, footer p {
    font-size: 22px;
    margin: 0 0 25px 0;
    line-height: 150%;
}

.footer a {
    text-decoration: none;
    color: white;
    
}

footer a:hover {
    color: #009440;
}

.social-links a {
    margin: 0 10px;
}

.footer-copy {
    margin: 15px 0 50px 0;
}
.footer-copy .langs-area {
    column-gap: 23px;

}
.ftft{
    margin-bottom: -20px;
}