.footer-logo-col {
    max-width: 340px;
    width: 100%;
    height: 100%;
    
}
footer{
    background-color: #B8B8B8;
    margin-top: 150px;
    padding-bottom: 10px;
    padding-top: 50px;
    
    
}

.footer-col {
    margin: 0 0 0 140px;
    max-width: 260px;
    width: 100%;
    color: white;
    
}

.footer-col ul {
    margin: 0;
    padding: 0;
}

.footer-col li {
    margin: 0 0 25px 0;
    
}

footer h3, .footer-logo {
    font-size: 25px;
    margin: 0 0 25px 0;
    
}

footer a, footer p {
    font-size: 22px;
    margin: 0 0 25px 0;
    line-height: 150%;
}

.footer a {
    text-decoration: none;
    color: #1D1D1D;
}

footer a:hover {
    color:#0C70F2;
}

footer .social-links a {
    margin: 25px 40px 0 0; 
    
}
.ft-size{
    height: 0px;
}

.footer-copy {
    margin: 155px 0 50px 0;
}

.footer-copy .langs-area {
    column-gap: 23px;
}

@media (max-width: 768px){
    .footer-col {
        margin:0 0 0 0;
        max-width: 100%;
        width: 100%;
    }
}

.footer-logo-col {
    max-width: 100%;
    width: 100%;
}