.containerJoin {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.titleJoin {
    width: 100%;
    justify-content: center;
}

.titleJoin h1 {
    font-family: tajawal;
    font-size: 50px;
    color: #009440;
    margin-top: 60px;
    font-weight: 700;
    line-height: 67px;
    text-align: center;
    letter-spacing: 7%;
}

.textJoin p {
    font-family: jost;
    font-size: 27px;
    font-weight: 400;
    line-height: 33px;
    text-align: left;
    margin-left: 60px;
    margin-top: 70px;
    letter-spacing: 0.07em;
}

.imageJoin img {
    width: 550px;
    height: 690px;
    margin-top: 25px;
    margin-left: 80px;
    gap: 0px;
    border-radius: 0px 0px 250px 250px;
}
